# Introduction

In this NoteBook we will clean the dataset of population of each state.

## Set up

In [1]:
import pandas as pd

## Read the data

In [2]:
population = pd.read_csv('../Raw_Data/US_population.csv', skiprows=[*range(0, 4)],nrows=52, delimiter = ',')
population.head()

,GeoFips,GeoName,1929,1930,1931,1932,1933,1934,1935,1936,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,0,United States,121769000,123075000,124038000,124839000,125580000,126372000,127251000,128054000,...,314344331,316735375,319270047,321829327,324367742,326623063,328542157,330233102,331501080,331893745
1,1000,Alabama,2644000,2647000,2649000,2653000,2661000,2685000,2719000,2743000,...,4839261,4864399,4886793,4908162,4930595,4952202,4976395,5003418,5024803,5039877
2,2000,Alaska *,(NA),(NA),(NA),(NA),(NA),(NA),(NA),(NA),...,731106,738057,737638,739127,743410,741949,737717,734823,732441,732673
3,4000,Arizona,430000,434000,429000,426000,426000,428000,434000,443000,...,6507351,6563216,6638196,6714328,6801591,6879830,6969944,7070511,7177986,7276316
4,5000,Arkansas,1852000,1859000,1848000,1836000,1854000,1878000,1890000,1892000,...,2948887,2954685,2961191,2970352,2980602,2990801,2997271,3004248,3012232,3025891

We only keep 1950-2021 data

In [3]:
population.set_index('GeoName',inplace=True)
# we don't need column "GeoFips" , so clean this column
population = population.iloc[1: ,22:]
population.rename(index={'Alaska *':'Alaska','Hawaii *':'Hawaii'},inplace=True)
print(population.shape)
population.head()

(51, 72)

,1950,1951,1952,1953,1954,1955,1956,1957,1958,1959,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
GeoName,,,,,,,,,,,,,,,,,,,,,
Alabama,3058000,3059000,3068000,3053000,3014000,3050000,3071000,3109000,3163000,3204000,...,4839261,4864399,4886793,4908162,4930595,4952202,4976395,5003418,5024803,5039877
Alaska,135000,158000,189000,205000,215000,222000,224000,231000,224000,224000,...,731106,738057,737638,739127,743410,741949,737717,734823,732441,732673
Arizona,756000,785000,842000,894000,933000,987000,1053000,1125000,1193000,1261000,...,6507351,6563216,6638196,6714328,6801591,6879830,6969944,7070511,7177986,7276316
Arkansas,1908000,1901000,1838000,1780000,1734000,1725000,1704000,1733000,1726000,1756000,...,2948887,2954685,2961191,2970352,2980602,2990801,2997271,3004248,3012232,3025891
California,10677000,11134000,11635000,12251000,12746000,13133000,13713000,14264000,14880000,15467000,...,37970368,38291358,38636290,38966055,39223210,39424071,39535906,39547996,39499738,39237836

In [4]:
path = '../Processed_Data/population.csv'
population.to_csv(path)