# Introduction

In this Notebook, we will clean the data of personal income of different states

## Set up

In [1]:
import pandas as pd

## Read the Data

In [2]:
#read the data file, skip the title and note 
data = pd.read_csv('../Raw_Data/Per_capita_personal_income.csv',skiprows=[*range(0, 4)],nrows=52, delimiter = ',')

In [3]:
data.head()

,GeoFips,GeoName,1929,1930,1931,1932,1933,1934,1935,1936,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,0,United States,699,621,528,402,375,427,477,539,...,44548,44798,46887,48725,49613,51573,53817,55724,59147,63444
1,1000,Alabama,319,263,220,159,164,207,216,249,...,35824,36014,37055,38531,39014,40252,41607,43157,45524,48608
2,2000,Alaska *,(NA),(NA),(NA),(NA),(NA),(NA),(NA),(NA),...,53708,52812,55867,57575,56278,57278,59783,61639,63391,67138
3,4000,Arizona,598,518,430,322,309,362,416,462,...,36545,37139,38756,40334,41473,43301,45299,47242,51332,54301
4,5000,Arkansas,303,224,207,152,153,182,204,243,...,36582,36677,38749,39968,40873,42056,43661,45037,47522,51148

## Data clean

In [4]:
data.set_index('GeoName',inplace=True)

In [5]:
# we don't need column "GeoFips" , so clean this column until 1980
data = data.iloc[1: ,52:]

In [6]:
data.head()

,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
GeoName,,,,,,,,,,,,,,,,,,,,,
Alabama,7957,8796,9272,9906,10848,11604,12223,12864,13807,14986,...,35824,36014,37055,38531,39014,40252,41607,43157,45524,48608
Alaska *,15507,17091,19424,19478,19701,20593,20331,19688,20420,22133,...,53708,52812,55867,57575,56278,57278,59783,61639,63391,67138
Arizona,9671,10764,11141,11941,13060,14000,14733,15280,16044,16803,...,36545,37139,38756,40334,41473,43301,45299,47242,51332,54301
Arkansas,7597,8592,9024,9513,10543,11165,11708,12139,13022,13946,...,36582,36677,38749,39968,40873,42056,43661,45037,47522,51148
California,11945,13158,13793,14582,15895,16795,17588,18482,19605,20561,...,48121,48502,51266,54546,56560,58813,61509,64333,69958,76386

In [7]:
data.rename(index={'Alaska *':'Alaska','Hawaii *':'Hawaii'},inplace=True)
print(data.shape)
data.head()

(51, 42)

,1980,1981,1982,1983,1984,1985,1986,1987,1988,1989,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
GeoName,,,,,,,,,,,,,,,,,,,,,
Alabama,7957,8796,9272,9906,10848,11604,12223,12864,13807,14986,...,35824,36014,37055,38531,39014,40252,41607,43157,45524,48608
Alaska,15507,17091,19424,19478,19701,20593,20331,19688,20420,22133,...,53708,52812,55867,57575,56278,57278,59783,61639,63391,67138
Arizona,9671,10764,11141,11941,13060,14000,14733,15280,16044,16803,...,36545,37139,38756,40334,41473,43301,45299,47242,51332,54301
Arkansas,7597,8592,9024,9513,10543,11165,11708,12139,13022,13946,...,36582,36677,38749,39968,40873,42056,43661,45037,47522,51148
California,11945,13158,13793,14582,15895,16795,17588,18482,19605,20561,...,48121,48502,51266,54546,56560,58813,61509,64333,69958,76386

In [8]:
#save the cleaned data to processed file
path = '../Processed_Data/incomes.csv'
data.to_csv(path)