In [107]:
import pandas as pd
import matplotlib.pylab as plt
import matplotlib
import numpy as np

import plotly.express as px
import plotly.graph_objects as go
from plotly.subplots import make_subplots

In [215]:
OutPut = pd.DataFrame(columns = ['Year','Save_of_gas','Save_of_EV','Save_of_PHEV','Save_of_FCV'])
OutPut

Empty DataFrame
Columns: [Year, Save_of_gas, Save_of_EV, Save_of_PHEV, Save_of_FCV]
Index: []

# Dataset in 2022

In [216]:
df_gas = pd.read_excel('2022 FE Guide for DOE-release dates before 4-16-2022-no-sales -4-16-2022public.xlsx', sheet_name = '22')
df_EV = pd.read_excel('2022 FE Guide for DOE-release dates before 4-16-2022-no-sales -4-16-2022public.xlsx', sheet_name = '22 EV')
df_PHEV = pd.read_excel('2022 FE Guide for DOE-release dates before 4-16-2022-no-sales -4-16-2022public.xlsx', sheet_name = '22 PHEV')
df_FCV = pd.read_excel('2022 FE Guide for DOE-release dates before 4-16-2022-no-sales -4-16-2022public.xlsx', sheet_name = '22 FCV')

In [217]:
df_gas.head()

,Model Year,Mfr Name,Division,Carline,Verify Mfr Cd,Index (Model Type Index),Eng Displ,# Cyl,Transmission,City FE (Guide) - Conventional Fuel,...,City CO2 Rounded Adjusted,Hwy CO2 Rounded Adjusted,Comb CO2 Rounded Adjusted (as shown on FE Label),CO2-PHEV Composite Rounded Adjusted Combined CO2,240V Charge Time at 240 volts (hours),120V Charge time at 120 Volts (hours),PHEV Total Driving Range (rounded to nearest 10 miles)DISTANCE,City PHEV Composite MPGe,Hwy PHEV Composite MPGe,Comb PHEV Composite MPGe
0,2022,Honda,Acura,NSX,HNX,521,3.5,6,Auto(AM-S9),21,...,420,406,420,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2022,aston martin,Aston Martin Lagonda Ltd,Vantage V8,ASX,4,4.0,8,Auto(A8),18,...,494,364,435,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2022,Volkswagen Group of,Audi,R8 Coupe,VGA,14,5.2,10,Auto(AM-S7),13,...,670,453,572,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2022,Volkswagen Group of,Audi,R8 Coupe RWD,VGA,16,5.2,10,Auto(AM-S7),14,...,627,385,518,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2022,Volkswagen Group of,Audi,R8 Spyder,VGA,15,5.2,10,Auto(AM-S7),13,...,670,453,572,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [218]:
df_EV.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 156,Unnamed: 157,Unnamed: 158,Unnamed: 159,Unnamed: 160,Unnamed: 161,Unnamed: 162,Unnamed: 163,Unnamed: 164,Unnamed: 165
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,Total,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Model Type Information,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Charge Depleting Information (Electricity Oper...,...,Battery Charge Time,NaN,Range,PHEV Composite MPG,NaN,NaN,Electric Driving Range,NaN,NaN,NaN
4,Model Yr,Mfr Name,Division,Carline,Verify Mfr Cd,Index (Model Type Index),Eng Displ,# Cyl,Transmission,City FE (Guide) - Conventional Fuel,...,240V Charge Time at 240 volts (hours),120V Charge time at 120 Volts (hours),PHEV Total Driving Range (rounded to nearest 1...,City PHEV Composite MPGe,Hwy PHEV Composite MPGe,Comb PHEV Composite MPGe,City Range (miles),Hwy Range (miles),Comb Range as shown on FE Label (miles),

In [219]:
df_PHEV.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,(Not Confidential),Unnamed: 9,...,Unnamed: 165,Unnamed: 166,Unnamed: 167,Unnamed: 168,Unnamed: 169,Unnamed: 170,Unnamed: 171,Unnamed: 172,Unnamed: 173,Unnamed: 174
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Model Type Information,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Charge Sustaining Information (Gasoline Opera...,...,Charge Depleting Driving Range,NaN,NaN,Individual Utility Factors (Rcda MDIUFs),NaN,NaN,PHEV Charge Depleting Fuel Consumption,NaN,NaN,Fuel Tank
3,Model Yr (gold fill means release date is aft...,Mfr Name,Division,Carline,Verify Mfr Cd,Index (Model Type Index),Eng Displ,# Cyl,Transmission,City FE (Guide) - Conventional Fuel,...,City Range on Electricity (miles),Hwy Range on Electricity (miles),Comb Range on Electricity as shown on FE Label...,City Utility Factor (MDIUF),Hwy Utility Factor (MDIUF),Comb Utility Factor (MDIUF),City (gal/100 mi),Hwy (gal/100 mi),Combined (gal/100 mi) as listed on blended PHE...,Size (gal)
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [220]:
df_FCV.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 155,Unnamed: 156,Unnamed: 157,Unnamed: 158,Unnamed: 159,Unnamed: 160,Unnamed: 161,Unnamed: 162,Unnamed: 163,Unnamed: 164
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Total,NaN,NaN,NaN,NaN,NaN,NaN
1,Model Type Information,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Charge Depleting Information (Electricity Oper...,...,PHEV,Battery Charge Time,NaN,Range,PHEV Composite MPG,NaN,NaN,Electric Driving Range,NaN,NaN
2,Model Yr,Mfr Name,Division,Carline,Verify Mfr Cd,Index (Model Type Index),Eng Displ,# Cyl,Transmission,City FE (Guide) - Conventional Fuel,...,CO2-PHEV Composite Rounded Adjusted Combined CO2,240V Charge Time at 240 volts (hours),120V Charge time at 120 Volts (hours),PHEV Total Driving Range (rounded to nearest 1...,City PHEV Composite MPGe,Hwy PHEV Composite MPGe,Comb PHEV Composite MPGe,City Range (miles),Hwy Range (miles),Comb Range as shown on FE Label (miles)
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [221]:
df_EV['Unnamed: 150']

0                                                    NaN
1                                                    NaN
2                                                    NaN
3                                     You Save/You Spend
4      $ You Save over 5 years (amount saved in fuel ...
                             ...
249                                                  NaN
250                                                  NaN
251                                                  NaN
252                                                  NaN
253                                                  NaN
Name: Unnamed: 150, Length: 254, dtype: object

In [222]:
df_FCV['Unnamed: 150']

0                                                   NaN
1                                    You Save/You Spend
2     $ You Save over 5 years (amount saved in fuel ...
3                                                   NaN
4                                                   NaN
5                                                   NaN
6                                                   NaN
7                                                   NaN
8                                                   NaN
9                                                   NaN
10                                                  NaN
11                                                  NaN
12                                                  750
13                                                  750
14                                                  NaN
15                                                    0
16                                                    0
17                                                  NaN
18                                                  750
19                                                  750
Name: Unnamed: 150, dtype: object

In [223]:
df_PHEV['Unnamed: 150']

0                                                    NaN
1                                                    NaN
2                                     You Save/You Spend
3      $ You Save over 5 years (amount saved in fuel ...
4                                                    NaN
                             ...
138                                                  NaN
139                                                  NaN
140                                                  NaN
141                                                  NaN
142                                                  NaN
Name: Unnamed: 150, Length: 143, dtype: object

In [224]:
df_EV = df_EV.drop(df_EV.index[[3,4]])

In [225]:
df_PHEV = df_PHEV.drop(df_PHEV.index[[2,3]])

In [226]:
df_FCV = df_FCV.drop(df_FCV.index[[1,2]])

In [227]:
Save_of_gas = df_gas['$ You Save over 5 years (amount saved in fuel costs over 5 years - on label) '].dropna().mean()
Save_of_EV = df_EV['Unnamed: 150'].dropna().mean()
Save_of_PHEV = df_PHEV['Unnamed: 150'].dropna().mean()
Save_of_FCV = df_FCV['Unnamed: 150'].dropna().mean()

In [228]:
Save_of_gas, Save_of_EV, Save_of_PHEV, Save_of_FCV

(1065.7894736842106, 3134.375, 1437.5, 500.0)

In [229]:
OutPut

Empty DataFrame
Columns: [Year, Save_of_gas, Save_of_EV, Save_of_PHEV, Save_of_FCV]
Index: []

In [230]:
OutPut = OutPut.append({'Year':2022, 'Save_of_gas':Save_of_gas, 'Save_of_EV':Save_of_EV, 'Save_of_PHEV':Save_of_PHEV, 'Save_of_FCV':Save_of_FCV}, ignore_index=True)
OutPut

     Year  Save_of_gas  Save_of_EV  Save_of_PHEV  Save_of_FCV
0  2022.0  1065.789474    3134.375        1437.5        500.0

# Dataset in 2021

In [231]:
df_gas = pd.read_excel('2021 FE Guide-release dates before 11-23-2021-no-sales -11-22-2021 for DOE_Karmapublic.xlsx', sheet_name = '21')
df_EV = pd.read_excel('2021 FE Guide-release dates before 11-23-2021-no-sales -11-22-2021 for DOE_Karmapublic.xlsx', sheet_name = '21 EV')
df_PHEV = pd.read_excel('2021 FE Guide-release dates before 11-23-2021-no-sales -11-22-2021 for DOE_Karmapublic.xlsx', sheet_name = '21 PHEV')
df_FCV = pd.read_excel('2021 FE Guide-release dates before 11-23-2021-no-sales -11-22-2021 for DOE_Karmapublic.xlsx', sheet_name = '21 FCV')

In [232]:
df_EV['Unnamed: 150']

0                                                    NaN
1                                                    NaN
2                                     You Save/You Spend
3      $ You Save over 5 years (amount saved in fuel ...
4                                                    NaN
                             ...
156                                                 3250
157                                                 3250
158                                                  NaN
159                                                  NaN
160                                                  NaN
Name: Unnamed: 150, Length: 161, dtype: object

In [233]:
df_PHEV['Unnamed: 150']

0                                                    NaN
1                                                    NaN
2                                                    NaN
3                                     You Save/You Spend
4      $ You Save over 5 years (amount saved in fuel ...
                             ...
165                                                  NaN
166                                                  NaN
167                                                  NaN
168                                                  NaN
169                                                  NaN
Name: Unnamed: 150, Length: 170, dtype: object

In [234]:
df_FCV['Unnamed: 150']

0                                                   NaN
1                                                   NaN
2                                    You Save/You Spend
3     $ You Save over 5 years (amount saved in fuel ...
4                                                   NaN
5                                                   NaN
6                                                   NaN
7                                                  1250
8                                                  1250
9                                                   NaN
10                                                  NaN
11                                                    0
12                                                    0
13                                                  NaN
14                                                  NaN
15                                                  500
16                                                  500
17                                                  NaN
18                                                 1000
19                                                 1000
20                                                  NaN
21                                                 1750
22                                                 1750
Name: Unnamed: 150, dtype: object

In [235]:
    df_EV = df_EV.drop(df_EV.index[[2,3]])
    df_PHEV = df_PHEV.drop(df_PHEV.index[[3,4]])
    df_FCV = df_FCV.drop(df_FCV.index[[2,3]])
    Save_of_gas = df_gas['$ You Save over 5 years (amount saved in fuel costs over 5 years - on label) '].dropna().mean()
    Save_of_EV = df_EV['Unnamed: 150'].dropna().mean()
    Save_of_PHEV = df_PHEV['Unnamed: 150'].dropna().mean()
    Save_of_FCV = df_FCV['Unnamed: 150'].dropna().mean()
    OutPut = OutPut.append({'Year':2021, 'Save_of_gas':Save_of_gas, 'Save_of_EV':Save_of_EV, 'Save_of_PHEV':Save_of_PHEV, 'Save_of_FCV':Save_of_FCV}, ignore_index=True)

In [236]:
OutPut

     Year  Save_of_gas   Save_of_EV  Save_of_PHEV  Save_of_FCV
0  2022.0  1065.789474  3134.375000   1437.500000        500.0
1  2021.0  1169.191919  4024.509804   1971.153846        900.0

# Dataset in 2020

In [237]:
df_gas = pd.read_excel('2020 FE Guide-adds and corrections for DOE-OK for release-no-sales- 4-7-2021Koenigseggpublic.xlsx', sheet_name = '20')
df_EV = pd.read_excel('2020 FE Guide-adds and corrections for DOE-OK for release-no-sales- 4-7-2021Koenigseggpublic.xlsx', sheet_name = '20 EV')
df_PHEV = pd.read_excel('2020 FE Guide-adds and corrections for DOE-OK for release-no-sales- 4-7-2021Koenigseggpublic.xlsx', sheet_name = '20 PHEV')
df_FCV = pd.read_excel('2020 FE Guide-adds and corrections for DOE-OK for release-no-sales- 4-7-2021Koenigseggpublic.xlsx', sheet_name = '20 FCV')

In [238]:
df_EV['Unnamed: 150']

0                                                    NaN
1                                     You Save/You Spend
2      $ You Save over 5 years (amount saved in fuel ...
3                                                    NaN
4                                                    NaN
                             ...
113                                                 4750
114                                                 4750
115                                                  NaN
116                                                 4500
117                                                 4500
Name: Unnamed: 150, Length: 118, dtype: object

In [239]:
df_PHEV['Unnamed: 150'].head(10)

0                                                  NaN
1                                                  NaN
2                                                  NaN
3                                                  NaN
4                                   You Save/You Spend
5    $ You Save over 5 years (amount saved in fuel ...
6                                                  NaN
7                                                  NaN
8                                                  NaN
9                                                  NaN
Name: Unnamed: 150, dtype: object

In [240]:
df_FCV['Unnamed: 150']

0                                                   NaN
1                                                   NaN
2                                                   NaN
3                                    You Save/You Spend
4     $ You Save over 5 years (amount saved in fuel ...
5                                                   NaN
6                                                   NaN
7                                                   NaN
8                                                  1250
9                                                  1250
10                                                  NaN
11                                                    0
12                                                    0
13                                                  NaN
14                                                  500
15                                                  500
16                                                  NaN
17                                                 1250
18                                                 1250
19                                                  NaN
20                                                  NaN
21                                                  NaN
22                                                  NaN
Name: Unnamed: 150, dtype: object

In [241]:
    df_EV = df_EV.drop(df_EV.index[[1,2]])
    df_PHEV = df_PHEV.drop(df_PHEV.index[[4,5]])
    df_FCV = df_FCV.drop(df_FCV.index[[3,4]])
    Save_of_gas = df_gas['$ You Save over 5 years (amount saved in fuel costs over 5 years - on label) '].dropna().mean()
    Save_of_EV = df_EV['Unnamed: 150'].dropna().mean()
    Save_of_PHEV = df_PHEV['Unnamed: 150'].dropna().mean()
    Save_of_FCV = df_FCV['Unnamed: 150'].dropna().mean()
    OutPut = OutPut.append({'Year':2020, 'Save_of_gas':Save_of_gas, 'Save_of_EV':Save_of_EV, 'Save_of_PHEV':Save_of_PHEV, 'Save_of_FCV':Save_of_FCV}, ignore_index=True)

In [242]:
OutPut

     Year  Save_of_gas   Save_of_EV  Save_of_PHEV  Save_of_FCV
0  2022.0  1065.789474  3134.375000   1437.500000        500.0
1  2021.0  1169.191919  4024.509804   1971.153846        900.0
2  2020.0  1159.793814  4269.736842   1972.222222        750.0

# Dataset in 2019

In [243]:
df_gas = pd.read_excel('2019 FE Guide-for DOE-release dates before 12-19-2019-no-sales- 12_17_2019Koenigseggpublic.xlsx', sheet_name = '2019 FEguide')
df_EV = pd.read_excel('2019 FE Guide-for DOE-release dates before 12-19-2019-no-sales- 12_17_2019Koenigseggpublic.xlsx', sheet_name = 'EVs')
df_PHEV = pd.read_excel('2019 FE Guide-for DOE-release dates before 12-19-2019-no-sales- 12_17_2019Koenigseggpublic.xlsx', sheet_name = 'PHEVs')
df_FCV = pd.read_excel('2019 FE Guide-for DOE-release dates before 12-19-2019-no-sales- 12_17_2019Koenigseggpublic.xlsx', sheet_name = 'FCVs')

In [244]:
df_EV['Unnamed: 150'].head(8)

0                                                  NaN
1                                                  NaN
2                                   You Save/You Spend
3    $ You Save over 5 years (amount saved in fuel ...
4                                                  NaN
5                                                  NaN
6                                                 2500
7                                                 2500
Name: Unnamed: 150, dtype: object

In [245]:
df_PHEV['Unnamed: 150'].head(8)

0                                                  NaN
1                                                  NaN
2                                                  NaN
3                                                  NaN
4                                   You Save/You Spend
5    $ You Save over 5 years (amount saved in fuel ...
6                                                  NaN
7                                                  NaN
Name: Unnamed: 150, dtype: object

In [246]:
df_FCV['Unnamed: 150']

0                                                   NaN
1                                    You Save/You Spend
2     $ You Save over 5 years (amount saved in fuel ...
3                                                   NaN
4                                                   NaN
5                                                   750
6                                                   750
7                                                   NaN
8                                                   NaN
9                                                   NaN
10                                                  NaN
11                                                    0
12                                                    0
13                                                  NaN
14                                                  750
15                                                  750
16                                                  NaN
17                                                  NaN
18                                                  NaN
19                                                  NaN
20                                                  NaN
21                                                  NaN
Name: Unnamed: 150, dtype: object

In [247]:
    df_EV = df_EV.drop(df_EV.index[[2,3]])
    df_PHEV = df_PHEV.drop(df_PHEV.index[[4,5]])
    df_FCV = df_FCV.drop(df_FCV.index[[1,2]])
    Save_of_gas = df_gas['$ You Save over 5 years (amount saved in fuel costs over 5 years - on label) '].dropna().mean()
    Save_of_EV = df_EV['Unnamed: 150'].dropna().mean()
    Save_of_PHEV = df_PHEV['Unnamed: 150'].dropna().mean()
    Save_of_FCV = df_FCV['Unnamed: 150'].dropna().mean()
    OutPut = OutPut.append({'Year':2019, 'Save_of_gas':Save_of_gas, 'Save_of_EV':Save_of_EV, 'Save_of_PHEV':Save_of_PHEV, 'Save_of_FCV':Save_of_FCV}, ignore_index=True)

In [248]:
OutPut

     Year  Save_of_gas   Save_of_EV  Save_of_PHEV  Save_of_FCV
0  2022.0  1065.789474  3134.375000   1437.500000        500.0
1  2021.0  1169.191919  4024.509804   1971.153846        900.0
2  2020.0  1159.793814  4269.736842   1972.222222        750.0
3  2019.0   947.867299  3857.142857   2337.500000        500.0

# Dataset in 2018

In [249]:
df_gas = pd.read_excel('2018 FE Guide for DOE3 -all rel dates-no-sales-3-25-2019McLarenforpublic.xlsx', sheet_name = 'FEguide')
df_EV = pd.read_excel('2018 FE Guide for DOE3 -all rel dates-no-sales-3-25-2019McLarenforpublic.xlsx', sheet_name = 'EVs')
df_PHEV = pd.read_excel('2018 FE Guide for DOE3 -all rel dates-no-sales-3-25-2019McLarenforpublic.xlsx', sheet_name = 'PHEVs')
df_FCV = pd.read_excel('2018 FE Guide for DOE3 -all rel dates-no-sales-3-25-2019McLarenforpublic.xlsx', sheet_name = 'FCVs')

In [250]:
df_EV['Unnamed: 150'].head(10)

0                                                  NaN
1                                                  NaN
2                                                  NaN
3                                                  NaN
4                                   You Save/You Spend
5    $ You Save over 5 years (amount saved in fuel ...
6                                                  NaN
7                                                  NaN
8                                                 4000
9                                                 4000
Name: Unnamed: 150, dtype: object

In [251]:
df_PHEV['Unnamed: 150'].head(10)

0                                                  NaN
1                                                  NaN
2                                                  NaN
3                                                  NaN
4                                   You Save/You Spend
5    $ You Save over 5 years (amount saved in fuel ...
6                                                  NaN
7                                                  NaN
8                                                 1750
9                                                 1750
Name: Unnamed: 150, dtype: object

In [252]:
df_FCV['Unnamed: 150'].head(10)

0                                                  NaN
1                                                  NaN
2                                                  NaN
3                                                  NaN
4                                   You Save/You Spend
5    $ You Save over 5 years (amount saved in fuel ...
6                                                  NaN
7                                                  NaN
8                                                  500
9                                                  500
Name: Unnamed: 150, dtype: object

In [253]:
    df_EV = df_EV.drop(df_EV.index[[4,5]])
    df_PHEV = df_PHEV.drop(df_PHEV.index[[4,5]])
    df_FCV = df_FCV.drop(df_FCV.index[[4,5]])
    Save_of_gas = df_gas['$ You Save over 5 years (amount saved in fuel costs over 5 years - on label) '].dropna().mean()
    Save_of_EV = df_EV['Unnamed: 150'].dropna().mean()
    Save_of_PHEV = df_PHEV['Unnamed: 150'].dropna().mean()
    Save_of_FCV = df_FCV['Unnamed: 150'].dropna().mean()
    OutPut = OutPut.append({'Year':2018, 'Save_of_gas':Save_of_gas, 'Save_of_EV':Save_of_EV, 'Save_of_PHEV':Save_of_PHEV, 'Save_of_FCV':Save_of_FCV}, ignore_index=True)

In [254]:
OutPut

     Year  Save_of_gas   Save_of_EV  Save_of_PHEV  Save_of_FCV
0  2022.0  1065.789474  3134.375000   1437.500000        500.0
1  2021.0  1169.191919  4024.509804   1971.153846        900.0
2  2020.0  1159.793814  4269.736842   1972.222222        750.0
3  2019.0   947.867299  3857.142857   2337.500000        500.0
4  2018.0   920.704846  3656.250000   1815.217391        500.0

In [255]:
OutPut['Avg_NE'] = OutPut.iloc[:, 2:5].mean(axis=1)

In [256]:
OutPut

     Year  Save_of_gas   Save_of_EV  Save_of_PHEV  Save_of_FCV       Avg_NE
0  2022.0  1065.789474  3134.375000   1437.500000        500.0  1690.625000
1  2021.0  1169.191919  4024.509804   1971.153846        900.0  2298.554550
2  2020.0  1159.793814  4269.736842   1972.222222        750.0  2330.653021
3  2019.0   947.867299  3857.142857   2337.500000        500.0  2231.547619
4  2018.0   920.704846  3656.250000   1815.217391        500.0  1990.489130

# OUTPUT

In [257]:
path = '../Processed_Data/Save_money.csv'
OutPut.to_csv(path)